<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AniSearch Dashboard</title>
    <link href="{{url_for('static', filename='favicon.png')}}" rel="icon" type="image/png" sizes="256x256">
    <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="header">
      <a>AniSearch Dashboard</a>
    </div>
    {% if ready == True%}
    <div class="box" style="background-color: green; border: 2px solid green">
      <p class="box-status">Online</p>
    </div>
    {% else %}
    <div class="box" style="background-color: red; border: 2px solid red">
      <p class="box-status">Offline</p>
    </div>
    {% endif %}
    <div class="box">
      <p class="box-headline">Guilds</p>
      <p class="box-value">{{guilds}}</p>
    </div>
    <div class="box">
      <p class="box-headline">Users</p>
      <p class="box-value">{{users}}</p>
    </div>
    <div class="box">
      <p class="box-headline">Channels</p>
      <p class="box-value">{{channels}}</p>
    </div>
    <div class="box">
      <p class="box-headline">Uptime</p>
      <p class="box-value">{{uptime}}</p>
    </div>
    <div class="box">
      <p class="box-headline">Shards</p>
      <p class="box-value">{{shards}}</p>
    </div>
    <div class="box">
      <p class="box-headline">Latency</p>
      <p class="box-value">{{latency}}</p>
    </div>
    <div class="box">
      <p class="box-headline">Cogs</p>
      <p class="box-value">{{cogs_count}}</p>
    </div>
    <button class="button" onclick="redirectLogs()">AniSearch Logs</button>
    <button class="button" onclick="reconnect()">Reconnect</button>
    <script type=text/javascript src="{{url_for('static', filename='js/main.js')}}"></script>
  </body>
</html>